@import url(http://fonts.googleapis.com/css?family=Simonetta:900);
body {
  padding-top: 20px;
  padding-bottom: 40px;
}
#headerTitle {
  font-family: 'Simonetta', cursive;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 41px 0 auto;
}
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 60px;
  line-height: 1;
  padding-bottom: 1em;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron p.lead {
  font-weight: bold;
}
.tweetlink {
  float: right;
}
a:hover {
  text-decoration: none;
}
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.no-show {
  display: None;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background-color: #aa46aa;
}
h3 {
  font-size: 18px;
}
#drawingCanvas {
  border: 1px dashed #ccc;
  cursor: crosshair;
}
#btnLinewidth {
  max-width: 50px;
  border: none;
}
.btnDraw {
  width: 100%;
  padding: 15px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ffffff;
  margin: 0 auto;
}
#btnEraser {
  background-color: #d3d3d3;
}
#btnClear {
  margin-top: 20px;
}
#drawingTools {
  margin-top: 70px;
  opacity: 0.1;
}
#btnDone {
  opacity: 0.1;
  margin-right: 10%;
}
#btnClear {
  vertical-align: bottom;
  margin-left: 20px;
}
#uploader {
  height: 70px;
}
#btnImgSelect {
  color: #000;
}
#imageInfo {
  padding: 10px;
}
#resultCanvas {
  margin-top: 10px;
  margin-left: 10px;
  display: none;
}
input[type="file"] {
  display: none;
}
#drop {
  margin-top: 10px;
  border: 10px dashed #ccc;
  width: 95%;
  height: 300px;
  float: left;
}
#drop.hover {
  border: 10px dashed #0c0;
}
#imageInfo {
  white-space: nowrap;
}
